@model UsuariosModel

<div class="container mt-5">
    <h2>Fazer Login</h2>
    <hr />
    <form method="POST" asp-controller="Usuarios" asp-action="Login">

        <div class="form-group  mt-3">
            <label for="exampleInputEmail1">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Email" asp-for="Email">
        </div>

        <div class="form-group mt-3">
            <label for="exampleInputPassword1">Senha:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua Senha" asp-for="Senha">
        </div>

        <br /><strong><span class="text-danger" id="msg">@TempData["ErrorMessage"]</span></strong><br />

        <button type="submit" class="btn btn-success mt-4">Fazer Login</button>
        <a class="btn btn-primary mt-4" asp-controller="Home" asp-action="Index">Voltar</a>

    </form>
</div>