@{
    ViewData["Title"] = "Sucesso!";
}

<div class="text-center mt-5">
    <h1 class="display-4">Cadastro Realizado com Sucesso!</h1>
    <h3>O que você deseja fazer agora?</h3>
    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Login">Fazer Login</a>
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
</div>
