@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center mt-5">
    <h1 class="display-4">Seja Bem-vindo!</h1>
    <h3>O que você Deseja?</h3>
    <a class="btn btn-primary" asp-controller="Usuarios" asp-action="Login">Fazer Login</a>
    <a class="btn btn-success" asp-controller="Usuarios" asp-action="Cadastro">Criar Cadastro</a>
</div>
